<h1 class="title">codeSketchtober</h1>

<ul class="gallery">
{{#each pieces}}
  <li class="gallery__item">
    {{#if thumbnail}}
      <img class="gallery__thumb" src="/thumbnails/{{file}}.png" />
    {{/if}}
    <a class="gallery__link" href="/{{file}}">{{name}}</a>
  </li>
{{/each}}
</ul>