<a class="back-button" href="/">back to index</a>
<h2 class="title">{{name}}</h2>
<div class="meta">
  <p>A sketch for #codesketchtober (or maybe it's <a href="https://genuary.art/" target="_blank">#genuary</a>!!)</p>
  <p>read the source code on <a href="https://github.com/csb324/codeSketchtober2021/blob/main/src/pieces/{{scriptName}}" target="_blank">github</a></p>
</div>

<div class="theater">

  <div id="canvas-parent">
  </div>

</div>

<script src="/pieces/{{scriptName}}"></script>
